

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#hello {
    color: #000; 
    background-image: url("../static/img/bg.png");
}

